In [1]:
!pip install bs4

Requirement already satisfied: bs4 in c:\users\ganes\appdata\local\programs\python\python312\lib\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\ganes\appdata\local\programs\python\python312\lib\site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\ganes\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4->bs4) (2.5)

In [2]:
!pip install requests

Requirement already satisfied: requests in c:\users\ganes\appdata\local\programs\python\python312\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ganes\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.3.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ganes\appdata\local\programs\python\python312\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ganes\appdata\local\programs\python\python312\lib\site-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ganes\appdata\local\programs\python\python312\lib\site-packages (from requests) (2023.7.22)

In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [4]:
def crawl(url):
    headers = {
        "user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"}
    response =requests.get(url,headers=headers)
    soup = BeautifulSoup(response.text,'html.parser')

    products = []
    price = []
    ratings = []

    p_name = soup.find_all('span',class_="a-size-medium a-color-base a-text-normal")
    p_price = soup.find_all('span',class_="a-price-whole")
    p_rating = soup.find_all('span',class_="a-size-base s-underline-text")

    for i in p_name:
        products.append(i.text)

    for i in p_price:
        price.append(i.text)

    for i in p_rating:
        ratings.append(i.text)

    df = pd.DataFrame({'Product':products,'Price':price,'Ratings':ratings})
    return df

In [5]:
df = crawl('https://www.amazon.in/s?k=phones+under+15000&crid=2OMU10J19V04S&sprefix=phones+under+15000%2Caps%2C751&ref=nb_sb_noss_')

In [6]:
df

                                              Product   Price Ratings
0   Samsung Galaxy M35 5G (Thunder Grey,6GB RAM,12...  18,999   4,572
1   Samsung Galaxy M15 5G Prime Edition (Stone Gre...  14,999     608
2   realme NARZO 70x 5G (Ice Blue, 6GB RAM,128GB S...  12,998   3,389
3   Samsung Galaxy M15 5G Prime Edition (Celestial...  14,999     608
4   realme NARZO N65 5G (Deep Green 8GB RAM, 128GB...  13,498   1,494
5   realme NARZO 70x 5G (Ice Blue, 8GB RAM,128GB S...  13,999   3,389
6   iQOO Z9x 5G (Storm Grey, 6GB RAM, 128GB Storag...  13,999   4,439
7   realme NARZO N65 5G (Deep Green 6GB RAM, 128GB...  12,498   1,494
8   Redmi 13C 5G (Starlight Black, 4GB RAM, 128GB ...   9,199   9,994
9   Nokia G42 5G | Snapdragon® 480+ 5G | 50MP Trip...  11,499   5,428
10  Redmi 13 5G, Orchid Pink, 6GB+128GB | India De...  12,999   2,172
11  Samsung Galaxy S23 Ultra 5G AI Smartphone (Gre...  79,999   2,449
12  Samsung Galaxy A14 5G (Black, 4GB, 128GB Stora...  12,243   2,321
13  Redmi 13 5G, Orchid Pink, 6GB+128GB | India De...  12,999   2,172
14  Motorola G45 5G (Brilliant Blue, 8GB RAM, 128G...  14,399      34
15  vivo Y28s 5G (Vintage Red, 6GB RAM, 128GB Stor...  14,999      74
16  Motorola G45 5G (Brilliant Green, 8GB RAM, 128...  13,874      38
17  iQOO Z9 Lite 5G (Aqua Flow, 6GB RAM, 128GB Sto...  11,498   1,953
18  realme 12X 5G (Woodland Green, 8GB RAM, 128GB ...  12,661      93
19  Samsung Galaxy M15 5G Prime Edition (Blue Topa...  14,999     608
20  IKALL K333 Touch & Type 4G Phone with 2GB RAM,...   2,875     234

In [7]:
df.to_csv('amazon.csv')

In [8]:
def image_crawler(url):
    head = {
        "user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"}
    response = requests.get(url,headers = head)
    soup = BeautifulSoup(response.text,'html.parser')

    image = []
    im_data = soup.find_all('img',class_="s-image")

    for i in im_data:
        image.append(i.get('src'))
    return image

In [9]:
img = image_crawler('https://www.amazon.in/s?k=phones+under+15000&crid=2OMU10J19V04S&sprefix=phones+under+15000%2Caps%2C751&ref=nb_sb_noss_')

In [10]:
img

['https://m.media-amazon.com/images/I/8189mzscM6L._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/81oKOk65TgL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/81LJaRu0cZL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71w-mmKgIfL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/717sEAdy02L._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61sY8BGOyEL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71oIjjNm+nL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71w-mmKgIfL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/717sEAdy02L._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/81nMsYgIHdL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/81Q9jpYOFdL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71lD7eGdW-L._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/818VqDSKpCL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/81NRD3LJJEL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/81dl4dQY3BL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/81nbqAPGLKL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/81Q9jpYOFdL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/718RrecpkVL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71EN6N9kUEL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/717yx8s4prL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/51ePjiVREFL._AC_UY218_.jpg']

In [11]:
import os

In [16]:
os.makedirs('amazon',exist_ok=True)

In [15]:
i=0
for url in img:
    try:
        resp=requests.get(url)
        with open(f"amazon/{i}.jpg", 'wb') as f:
            f.write(resp.content)
        i+=1
    except:
        pass